# contentful
NEXT_PUBLIC_CTF_SPACE_ID='your-space-id'
NEXT_PUBLIC_CTF_DELIVERY_TOKEN='your-delivery-access-token'
NEXT_PUBLIC_CTF_PREVIEW_TOKEN='your-preview-access-token'
NEXT_PUBLIC_CTF_PREVIEW_SECRET='a-preview-secret'
NEXT_PUBLIC_CTF_ENVIRONMENT='your-space-environment'
CONTENTFUL_PREVIEW_SECRET='a-preview-secret'
NEXT_PUBLIC_CTF_STUDIO_EXPERIENCE_TYPE_ID="experiencePage"
NEXT_PUBLIC_CTF_HOMEPAGE_SLUG="home"
NEXT_PUBLIC_NINETAILED_CLIENT_ID=""
NEXT_PUBLIC_NINETAILED_ENVIRONMENT="main"